<ion-header *ngIf="item">
  <ion-toolbar color ="medium">
      <ion-buttons slot="start">
          <ion-back-button text="" defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>{{headert}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content *ngFor="let item of item">
      <ion-item lines="none">
          <img width="100%" height="100%" src="{{item.img}}"/>
      </ion-item>
      <br>
      <ion-item lines="none" >
              <table class="product_tabel" >
                <tr>
                    <td rowspan="2" width="20vh;" >
                      <ion-avatar>
                        <img *ngIf ="name != '(알수없음)'" id="writerimg" src=""/>
                        <img *ngIf ="name == '(알수없음)'"  src="https://firebasestorage.googleapis.com/v0/b/sulnyang.appspot.com/o/userpic%2FKakaoTalk_20190927_163422437.png?alt=media&token=d3973554-afdc-403e-ad53-53f65f1e4022"/>
                      </ion-avatar>
                    </td>
                    <td>
                     {{item.userid}} 
                    </td>
                </tr>
                <tr> 
                  <td>
                   <h6> {{writergu}} {{writerdong}}</h6>  
                  </td> 
                </tr>
                
              </table>
            
      </ion-item>
          <br>
    <ion-item lines="none">
        <ion-label>
           <h1><b>{{item.title}}</b></h1> 
        </ion-label>
    </ion-item>
    <ion-item>
      <ion-button *ngIf=" name != currentU" expand="block" shape="round" fill="outline"(click)="gotoChat(item.userid)"><ion-icon name="contact"></ion-icon>채팅하러 가기</ion-button>
      <ion-button *ngIf = "name === currentU" expand="block" shape="round" fill="outline"(click)= "delete()" > 삭제 </ion-button>
    </ion-item>
  <!-- Disabled and readonly textarea in an item with a stacked label -->
      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-textarea overflow="hidden" class="textbox" rows="10"
          readonly
          value="{{item.content}}">
        </ion-textarea>
      </ion-item>
    </ion-card-content>
</ion-card>
</ion-content>
